<head>
    <style type="text/css">
        .style1
        {
            font-family: Verdana;
            color: rgb(102, 102, 102);
        }
        .style2
        {
            font-size: 11pt;
            text-align: justify;
        }
        .style3
        {
            text-align: center;
        }
    </style>
</head>
{% include 'header.html' %}


  <section id="slider">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="slider_area">
            <!-- Start super slider -->
            <div id="slides">
              <ul class="slides-container">
                <li>
                  <img src="{{ url_for('static',filename='img/slider/2.jpg') }}" alt="img">
                   <div class="slider_caption">
                    <h2>Largest & Beautiful University</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <a class="slider_btn" href="#">Know More</a>
                  </div>
                  </li>
                <!-- Start single slider-->
                <li>
                  <img src="{{ url_for('static',filename='img/slider/3.jpg') }}" alt="img">
                   <div class="slider_caption slider_right_caption">
                    <h2>Better Education Environment</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
                    <a class="slider_btn" href="#">Know More</a>
                  </div>
                </li>
                <!-- Start single slider-->
                <li>
                  <img src="{{ url_for('static',filename='img/slider/4.jpg') }}"  alt="img">
                   <div class="slider_caption">
                    <h2>Find out you in better way</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
                    <a class="slider_btn" href="#">Know More</a>
                  </div>
                </li>
              </ul>
              <nav class="slides-navigation">
                <a href="#" class="next"></a>
                <a href="#" class="prev"></a>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </section>
    <div class="style3" align="center">
</br></br></br></br></br></br></br></br>

<div style="width: 821px; height: 294px; left: auto;" class="style2">
    <span class="style1"> Write a python program to create a list of software application details. The details of application include name, author, version, publishing year , price
    </span><span class="style1" 
        style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">


..</span></div>
<div class="style3"></div>
</br></br></br>

</br></br></br></br></br></br></br>
{% include 'footer.html' %}
</div>
