{% include 'header.html' %}


<div align="center">
 <form action = "/regclick" method = "POST">
<br>
     <br>
     <br>
     <br><br><br>
<table class="style1">
     <tr>
                <td colspan="2">

               Registeration Details
                    &nbsp;</td>
            </tr>

     <tr>
                <td> <p>First Name</p>
                   &nbsp;</td>
                <td><input type = "text" name = "fname" />
                    &nbsp;</td>
            </tr>
            <tr>
                <td><p>Last Name</p>
                    &nbsp;</td>
                <td><input type = "text" name = "lname"   />
                    &nbsp;</td>
            </tr>
            <tr>
                <td><p>Age</p>
                    &nbsp;</td>
                <td><input type = "text" name = "age" />
                    &nbsp;</td>
            </tr>
      <tr>
                <td><p>Gender</p>
                    &nbsp;</td>
                <td><input type = "text" name = "gender" />
                    &nbsp;</td>
            </tr>
    <tr>
                <td><p>Email</p>
                    &nbsp;</td>
                <td><input type = "text" name = "email" />
                    &nbsp;</td>
            </tr>
    <tr>
                <td><p>Native</p>
                    &nbsp;</td>
                <td><input type = "text" name = "native" />
                    &nbsp;</td>
            </tr>

    <tr>
                <td><p>Phone</p>
                    &nbsp;</td>
                <td><input type = "text" name = "ph" />
                    &nbsp;</td>
            </tr>
    <tr>
                <td><p>Password</p>
                    &nbsp;</td>
                <td><input type = "password" name = "pwd" />
                    &nbsp;</td>
            </tr>

     <tr>
                <td> <p></p>
                    &nbsp;</td>
                <td><input type = "submit" value = "Register" />
                    &nbsp;</td>
            </tr>
        </table>
    








      </form>

</div>



{% include 'footer.html' %}